<section class="flex-container">
    <div>
        <button id="home-btn" class="button" routerLink="/">Начало</button>
        <button class="button" routerLink="/new-post">Качи ново меме</button>
    </div>
 
    <div class="buttons-user" *ngIf="!isLoggedIn">
        <button class="button" routerLink="/login">Вход</button>
        <button class="button" routerLink="/register">Регистрация</button>
    </div>
    <div class="buttons-user" *ngIf="isLoggedIn">
        <button class="button" routerLink="/profile">Класическия {{user?.firstName}}</button>
        <button class="button" routerLink="/logout">Изход</button>
    </div>
</section>