<section class="flex-container">
    <div>
        <button id="home-btn" class="button" routerLink="/">Home</button>
    </div>
        
    <div class="buttons-browse">
        <div class="browse">
            <button class="button" routerLink="/user/list">User list</button>
            <button class="button" routerLink="/post/list">Post list</button>
        </div>
    </div>
    <div class="buttons-user" *ngIf="!isLoggedIn">
        <button class="button" routerLink="/login">Login</button>
        <button class="button" routerLink="/register">Register</button>
    </div>
    <div class="buttons-user" *ngIf="isLoggedIn">
        <button class="button" routerLink="/profile">{{user?.firstName}}'s Profile</button>
        <button class="button" routerLink="/logout">Logout</button>
    </div>
</section>