<div class="form-border">
  <div class="header-background">
    <span>Ново меменце</span>
  </div>
  <form #form="ngForm" (ngSubmit)="newPostHandler(form)">
    <div class="form-title">
      <label for="inputName">Заглавие: </label>
      <input type="text" name="inputName" #nameInput="ngModel" ngModel required [minlength]="3" id="inputName">
      <ng-container *ngIf="nameInput.touched">
        <p class="error" *ngIf="nameInput.errors?.['required']">
          Заглавието е задължително
        </p>
        <p class="error" *ngIf="nameInput.errors?.['minlength']">
          Заглавието трябва да е поне {{nameInput.errors?.['minlength']['requiredLength']}} символа.
        </p>
      </ng-container>
    </div>

    <div class="form-title">
      <label for="inputName">Картинка: </label>
      <input #files type="file" name="postFile" #fileInput="ngModel" ngModel required id="postFile" accept=".jpg">
    </div>

    <div class="new-post-buttons">
      <button class="cancel" type="button" routerLink="/">Отказ</button>
      <button class="publish" routerLink="/" [disabled]="form.invalid">Създай</button>
    </div>

  </form>
</div>