/* new-theme */

.form-border {
    background-color: #f6f6f6;
    width: 40%;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    border-radius: 1em;
}

.form-border .input {
    margin-bottom: 1em;
}

.header-background {
    background-color: rgb(74, 74, 74);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 1.5em;
    padding-bottom: 0;
    margin-bottom: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-background span {
    background-color: #f6f6f6;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
}

.form-title label {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(57, 57, 57);
}

.form-title input {
    width: 98%;
    border-radius: 0.3em;
    border: 2px solid #ffffff;
    padding: 0.2em;
    margin-bottom: 0.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button+button {
    margin-left: 1em;
}

.new-post-buttons {
    margin-top: 1em;
    text-align: center;
}

.new-post-buttons button {
    padding: 0.4em 1.5em;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.3em;
}

.new-post-buttons button.cancel:hover {
    background-color:rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}

.new-post-buttons button.publish:enabled {
    background-color: green;
    color: white;
    cursor: pointer;
 }

 .new-post-buttons button.publish:enabled:hover {
    background-color:rgb(0, 172, 0);
    color: white;
    cursor: pointer;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputName-error {
    border-left-color: red;
}